@import url("https://use.typekit.net/lge8ozm.css");

@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    @apply font-sans;
}

p {
    @apply text-xl leading-snug;
}

.revenu {
    @apply font-bold text-blue-400;
}

.benefices {
    @apply font-bold text-teal-400;
}

.prestations {
    @apply font-bold text-green-400;
}

.prelevements {
    @apply font-bold text-red-400;
}

.notice {
    @apply shadow-lg p-10 z-10 bg-white;
}

/*
 |--------------------------------------------------------------------------
 | Fade
 |--------------------------------------------------------------------------
*/

.fade-enter-active, .fade-leave-active {
    transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.fade-enter, .fade-leave-active {
    opacity: 0 !important;
}

.scrollama-graphic {
    position: -webkit-sticky;
}
